<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="mail_host" value="mailserver.com"/>
    <add key="mail_port" value="993"/>
    <add key="mail_usessl" value="true"/>
    <add key="mail_user" value="authemail@mailserver.com"/>
    <add key="mail_password" value="/etc/passwd"/>

    <add key="loginLink" value="https://site.com/User/Login/?"/>
    <add key="mainPageLink" value="https://site.com/Home"/>
    
    <!--should use proxy: true/false-->
    <add key="useProxy" value="true"/>
    <add key="proxy" value="10.1.1.0:3128"/>

  </appSettings>
</configuration>